@mixin result-sentence {
    font-size: 15pt;
}

#modal-result {
    width: 80%;
    position: fixed;
    display: none;
    z-index: 2;
}

#result-header {
    font-size: 15pt;
    font-style: bold;
}

#result-japanese {
    @include result-sentence
}

#result-english {
    @include result-sentence
}

#result-useranswer {
    @include result-sentence
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.75);
    display: none;
    z-index: 1;
}
