@mixin table-cell($backcolor: #fff) {
    padding: 6px;
    background-color: $backcolor;
    border: 1px solid #b9b9b9;
}

body {
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    @include table-cell(#eee);
    text-align: center;
    vertical-align: top;
    color: #333;
}

td {
    @include table-cell;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;

    a {
        background: #666;
        text-decoration: none;
        color: #fff;
        width: 100px;
        padding: 30px 0;
        text-align: center;
        display: block;
        border-radius: 10px;

        &:hover {
            text-decoration: none;
            background: #999;
        }
    }
}
