@mixin table-cell {
    padding: 6px;
    border: 1px solid #b9b9b9;
}

body {
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;

    a {
        background: #666;
        text-decoration: none;
        color: #fff;
        width: 100px;
        padding: 30px 0;
        text-align: center;
        display: block;
        border-radius: 10px;

        &:hover {
            text-decoration: none;
            background: #999;
        }
    }
}
