<!DOCTYPE html>
<html>
<head>
  <title>Voca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/sentences/">List</a></li>
    <li role="presentation"><a href="/answers/start">Start</a></li>
</ul>
<div id='container'>
    <%= yield %>
</div>

</body>
</html>
